.tech-stack__main {
    height: 80vh;
}

.tech-stack-card {
    max-width: 400px;
}

.tech-stack-image {
    background-size: cover;    
}

.tech-image {
    height: 15rem;
    display: block;
}

.tech-stack__content {
    height: 15em;
}