<div>
    <i *ngIf="!showEditor" class="material-icons icon__edit float-right" (click)="onEditOverview(i)">
        edit
    </i>
</div>
<div class="overview" *ngIf="!showEditor">
    <!-- <div style="display: block;" *ngFor="let overview of overviews; let i = index">
        <p *ngIf="!overview.edit; else editPassage">
            {{ overview.passage }}
        </p>
        <ng-template #editPassage>
            <textarea class="form-control" name="" id="" (blur)="onUpdatePassage(i)"
            pInputTextarea autoResize="autoResize"
            cols="50" rows="1" [(ngModel)]="overview.passage"></textarea>
            <div class="btn-update">
                <button class="float-right" mat-raised-button color="primary" (click)="onUpdatePassage(i)">UPDATE</button>
            </div>
        </ng-template>
    </div> -->
    <div [innerHtml]="overviewSingleText"></div>
</div>
<div *ngIf="showEditor">
    <p-editor [(ngModel)]="overviewSingleText" [style]="{'height':'320px'}"></p-editor>
    <br>
    <button class="float-right" mat-raised-button color="primary" (click)="onUpdateOverview()">
        UPDATE
    </button>
</div>

