<div class="">
    <header class="header">
        <div class="row">
            <img class="main-header__logo"
                [src]="sprintUrl"
                alt="">
            <h2 class="col-4 header--title"></h2>
        </div>
    </header>
    <div id="wrapper">
        <app-sidebar></app-sidebar>
        <div style="color: black;width: 100%;">
            <mat-progress-bar *ngIf="loading" color="accent" mode="indeterminate" style="width: 100vw;">
            </mat-progress-bar>
            <div style="padding: 20px">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>