.header {
    width: 100%;
    height: 80px;
    margin-top: -16px;
    padding: 12px;
    font-weight: bold;
    background-color: #4e73df;
}

.header--title {
    margin-top: 8px;
}

.main-header__logo {
    height: 50px;
    width: 110px;
    margin: 0 16px;
}

.loading {
    margin-top: 20%;
    display: block;
    margin-left: 45%;
}

.options-icon {
    color: white;
    display: inline-block;
}

.options-menu {
    margin-left: 66em;
    margin-top: 1em;
}

*:focus {
    outline: 0;
}