<form [formGroup]="assessmentForm">
    <div formArrayName="sets">
        <div *ngFor="let set of assessmentForm.get('sets').controls; let i = index" [formGroupName]="i">
            {{ assessmentForm.value.sets[i].question }}
            <mat-radio-group aria-labelledby="sprint-radio-group-label"
                    formArrayName="answers"
                    class="sprint-radio-group">
                <mat-radio-button
                        class="sprint-radio-button col-6" 
                        *ngFor="let ans of set.get('answers').controls; let in = index" 
                        [formGroupName]="in" [value]="ans.option">
                    {{ assessmentForm.value.sets[i].answers[in].label }}
                </mat-radio-button>
            </mat-radio-group>
        </div>
    </div>
    <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
    </div>
</form>