<div>
    <div *ngFor="let set of questionSets; let i = index">
        ({{ set.serial }}) {{ set.question }}
        <mat-radio-group
                    aria-labelledby="sprint-radio-group-label"
                    [ngModel]="set.selectedAnswer"
                    (ngModelChange)="onAnswerSelection(set, $event)"
                    class="sprint-radio-group">
                <mat-radio-button
                    [disabled]="submitted"
                    class="sprint-radio-button" 
                    *ngFor="let ans of set.answers; let in = index" 
                    [value]="ans.option">
                {{ ans.label }}
                <span *ngIf="submitted && ans.option === set.selectedAnswer" class="result-icon">
                    <i *ngIf="set.isCorrect" class="material-icons" style="color: green;">check</i>
                    <i *ngIf="!set.isCorrect" class="material-icons"  style="color: red;">close</i>
                </span>
            </mat-radio-button>
        </mat-radio-group>
    </div>
</div>
<div>
    <button mat-button matStepperPrevious>Back</button>
    <button mat-button *ngIf="!submitted" (click)="submit()">Submit</button>
    <button mat-button *ngIf="submitted" matStepperNext>Next</button>
</div>