<div class="container">
    <header class="main-header">
        <img class="main-header__logo"
            [src]="sprintUrl"
            alt="">
    </header>
    <div class="row">
        <div class="offset-lg-8 col-4 login-form">
            <div class="form-container">
                <form novalidate [formGroup]="loginForm">
                    <mat-form-field class="login-form__field">
                        <input matInput formControlName="email" placeholder="E-mail ID" type="email">
                    </mat-form-field>
                    <mat-form-field class="login-form__field">
                        <input matInput formControlName="password" placeholder="Password" type="password">
                    </mat-form-field>
                    <button class="login-form__button" [disabled]="!loginForm.valid"
                        mat-raised-button color="primary"
                        type="submit" (click)="login()" >
                        Login
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>