.main-header__logo {
    height: 70px;
    width: 155px;
}

.journey-selector button {
    display: block;
    margin-bottom: 10px;
    width: 140%;
    height: auto;
}

.bg {
    background-image: url("./../../../../assets/tmo-sprint-bg.jpg");
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
}