<!-- IMP: Side Menu items are to be added in component.ts file and not in this i.e. HTML file  -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion side-nav__custom" id="accordionSidebar">
    <div *ngFor="let type of types">
        <div class="sidebar-heading sb-heading">
            {{ type.type }}
        </div>
        <li class="nav-item" *ngFor="let menu of type.menuItems" (click)="routeToPage(menu.route, $event)">
            <a class="nav-link">
                <span>{{ menu.name }}</span>
            </a>
        </li>
        <hr class="sidebar-divider">
    </div>
</ul>