<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion side-nav__custom" id="accordionSidebar">
    <hr class="sidebar-divider my-0">
    <li class="nav-item active">
        <a class="nav-link" (click)="routeToPage('dashboard')">
            <span>Dashboard</span>
        </a>
    </li>
    <hr class="sidebar-divider">
    <div class="sidebar-heading">
        General
    </div>
    <li class="nav-item">
        <a class="nav-link" (click)="routeToPage('sprint-overview')">
            <span>Sprint Overview</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" (click)="routeToPage('tech-stack')">
            <span>Technology Stack</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" (click)="routeToPage('team-structure')">
            <span>Team Structure</span>
        </a>
    </li>
    <hr class="sidebar-divider">
    
</ul>