/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/@fortawesome/fontawesome-free/css/fontawesome.min.css";
@import "sb-admin2.scss";

* {
    box-sizing: border-box;
}

body {
    padding-top: 16px;
    padding-bottom: 16px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.login-form {
    float: right;
}

.login-form__field {
    width: 100%;
}

.login-form__button {
    float: right;
}

.form-container {
    display: flex;
    flex-direction: column;
    padding: 8px 16px;
    margin: 12px;
}

.form-container > * {
    width: 100%;
}

.route-links {
    font-size: 16px;
}