/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/@fortawesome/fontawesome-free/css/fontawesome.min.css";
@import "sb-admin2.scss";

* {
    box-sizing: border-box;
}

body {
    padding-top: 16px;
    padding-bottom: 16px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.form-container > * {
    width: 100%;
}

.route-links {
    font-size: 16px;
}

.sprint-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}
  
.sprint-radio-button {
    margin: 5px;
}