<div class="row">
    <div class="offset-lg-8 offset-md-5 col-sm-12 col-xs-12 col-md-6 col-xl-6 login-form">
        <div class="form-container">
            <h4>Login here:</h4>
            <form novalidate [formGroup]="loginForm" (ngSubmit)="login()">
                <mat-form-field class="login-form__field">
                    <input matInput formControlName="email" placeholder="E-mail ID" type="email">
                </mat-form-field>
                <mat-form-field class="login-form__field">
                    <input #passwordInput matInput formControlName="password" placeholder="Password" type="password">
                </mat-form-field>
                <button class="login-form__button" [disabled]="!loginForm.valid" mat-raised-button color="primary"
                    type="submit">
                    Login
                </button>
            </form>
            <hr>
            <div>
                <span class="route-links"><a [routerLink]="['/landing', 'register']">Register</a></span>
                <span class="route-links float-right"><a [routerLink]="['/landing', 'forgotPassword']">Forgot Password?</a></span>
            </div>
        </div>
    </div>
</div>